<head>
    <style> body { margin: 0; } </style>

    <script src="//unpkg.com/3d-force-graph"></script>
    <script src="https://unpkg.com/neo4j-driver"></script>
    <!--<script src="../../dist/3d-force-graph.js"></script>-->
</head>

<body>
<div id="3d-graph"></div>

<script>
    const driver = neo4j.driver("neo4j+s://9e0eb8db.databases.neo4j.io", neo4j.auth.basic("neo4j", "zMW9CzeHyy1GqgbCR9M57wmikBf-OYtRAE-dTqHQBw0"));
    const elem = document.getElementById('3d-graph');
	const session = driver.session();
	const start = new Date()
    session
      .run('MATCH (n)-->(m) RETURN { id: id(n), label:head(labels(n)), caption:n.name } as source, { id: id(m), label:head(labels(m)), caption:m.name } as target LIMIT $limit', {limit: neo4j.int(5000)})
      .then(function (result) {
        const nodes = {}
        const links = result.records.map(r => {
	       var source = r.get('source');source.id = source.id.toNumber();
           nodes[source.id] = source;
	       var target = r.get('target');target.id = target.id.toNumber();
           nodes[target.id] = target;
	       return {source:source.id,target:target.id}
	    });
        session.close();
        console.log(links.length+" links loaded in "+(new Date()-start)+" ms.")
        const gData = { nodes: Object.values(nodes), links: links}
        const Graph = ForceGraph3D()(elem)
                      .graphData(gData)
                      .nodeAutoColorBy('label')
                      .nodeLabel(node => `${node.label}: ${node.caption}`)
                      .onNodeHover(node => elem.style.cursor = node ? 'pointer' : null);
      })
      .catch(function (error) {
        console.log(error);
      });
  </script>
</body>