<head>
    <style> body { margin: 0; } </style>

    <script src="//unpkg.com/three"></script>
    <script src="//unpkg.com/three/examples/js/renderers/CSS2DRenderer.js"></script>

    <script src="//unpkg.com/3d-force-graph"></script>
    <script src="https://unpkg.com/neo4j-driver"></script>
    <!--<script src="../../dist/3d-force-graph.js"></script>-->

    <style>
    .node-label {
      font-size: 12px;
      padding: 1px 4px;
      border-radius: 4px;
      background-color: rgba(0,0,0,0.5);
      user-select: none;
    }
  </style>

</head>

<body>
<div id="3d-graph"></div>

<div class="graph-data">
    <select id="select" onChange="toggleData()">
        <option>2020</option>
        <option>2021</option>
        <option>2022</option>
    </select>
    <select id="tag" onChange="toggleData()">
        <option>all</option>
        <option>education</option>
        <option>spo</option>
        <option>africa</option>
    </select>
</div>

<script src="js/index.js"></script>
</body>